<!DOCTYPE html>
<html>
  <head>
    <title>Sports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <a href="#aboutus">About Us</a>
        <a href="#trips">Trips</a>
        <a href="#employees">Employees</a>
        <a href="#contact">Contact</a>
    </nav>

    <%= yield %>
  </body>
</html>
